<div class="row">
  <div class="col-8">
    <div *ngIf="this.posts != null && this.posts.length; else noPosts">
      <div class="d-flex">
        <div class="mx-auto">
          <pagination-controls [maxSize]=3 style="font-size: 0.8em;" (pageChange)="p = $event" class="ngx-pagination">
          </pagination-controls>
        </div>
      </div>
      <div class="d-flex">
        <div class="mx-auto">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon icon="info-circle" data-placement="right"
                  tooltip="Search will attempt to filter on 'Title' and 'Creator'">
                </fa-icon>
              </span>
            </div><input type=" text" class="form-control" placeholder="Search..." [(ngModel)]="searchTitle"
              style="width: 400px;" />
          </div>
        </div>
      </div>
      <br>
      <span
        *ngFor="let posts of this.posts | postFilter: searchTitle | paginate: { itemsPerPage: maxItemsPP, currentPage: p } ">
        <app-posts [postTitle]="posts.title" [postId]="posts._id" [link]="posts.link" [text]="posts.text"
          [(comments)]="posts._comments" [creator]="posts._creator" [createdAt]="posts.createdAt"
          [isAnon]="posts.isAnon" [isLocked]="posts.isLocked">
        </app-posts>
      </span>
      <div class="d-flex justify-content-center">
        <pagination-controls [maxSize]=5 style="font-size: 0.8em;" (pageChange)="p = $event" class="ngx-pagination">
        </pagination-controls>
      </div>
    </div>
    <ng-template #noPosts>
      <div class="card text-dark bg-light mb-3">
        <div class="card-body">
          <h5 class="card-text">
            <fa-icon icon="comment-slash">
            </fa-icon> There are no posts yet!
          </h5>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="col-4">
    <app-new-post></app-new-post>
  </div>
</div>
